<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/do_add" method="post">
    标题:<input type="text" name="titl"/><br/>
    内容:<input type="text" name="con"/><br/>
    <input type="submit" name="sub" value="添加"/><br/>
</form>
</body>
</html>