<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
<form action="/do_regist" method="post">
    <p>用户名:<input type="text" name="username" id="user"/></p>
    <p>密码:<input type="password" name="pwd"/></p>
    <p>
        <input type="radio" name="sex"/>女
        <input type="radio" name="sex"/>男
    </p>
    <p><input type="submit" name="注册"/></p>
</form>
<script src="/javascripts/jquery-1.12.4.min.js"></script>
<script>

</script>
</body>
</html>