<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/do_update" method="post">
    <input type="hidden" name="hid" value=" <%= bid%>"/>
    <input type="text" name="tit" value="<%= tit%>"/><br/>
    <input type="text" name="con" value="<%= con%>"/><br/>
    <input type="submit" name="sub" value="更新"><br/>

</form>
</body>
</html>